[Unit]
Description=Home Automation: Backup
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=0

WorkingDirectory=/opt/home-automation/backup
ExecStart=docker compose up -d --build
ExecStop=docker compose down

[Install]
WantedBy=multi-user.target
