apiVersion: 1
prune: true

datasources:
  - name: Config
    uid: config

    type: yesoreyeram-infinity-datasource
    access: proxy

    jsonData:
      refData:
        - name: config.json
          data: |
            {
              "speedtest": {
                "download": {
                  "expected": 100,
                  "guaranteed": 75
                },
                "upload": {
                  "expected": 50,
                  "guaranteed": null
                },
                "ping": {
                  "expected": null,
                  "guaranteed": null
                }
              }
            }

    version: 1
    editable: false
