[Unit]
Description=Home Automation: Speedtest
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=0

WorkingDirectory=/home/pi/home-automation/speedtest
ExecStart=docker compose up -d
ExecStop=docker compose down

[Install]
WantedBy=multi-user.target