[Unit]
Description=Home Automation: Grafana
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=0

WorkingDirectory=/opt/home-automation/grafana
ExecStart=docker compose up -d
ExecStop=docker compose down

[Install]
WantedBy=multi-user.target
